<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
<listeners><listener class-name="com.example.my_first_maven_project.NewListeners"/></listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.example.my_first_maven_project.DemoTestNG"/>
      <class name="com.example.my_first_maven_project.Day1">
      		<!--methods>
      			<include name="carLoanAPI"/>
      		</!methods-->
      </class>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test2">
  <parameter name="URL" value="personalloan.com"></parameter>
  <parameter name="API" value="123456"></parameter>
    <classes>
      <class name="com.example.my_first_maven_project.Day2">
      		<methods>
      			<exclude name="homeLoanAPI"/>
      		</methods>
      </class>
      <class name="com.example.my_first_maven_project.Day4">
      		<methods>
      			<exclude name="Mobile.*"/>
      		</methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
